@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
  body {
    font-family: 'Monserrat';
  }

  li {
    padding: 40px;
    cursor: pointer;;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgb(255, 145, 77), 
    hsl(23, 88%, 70%)) !important;
}

..grid-pic {
  background-image: url(./Assets/pattern-dot-grid.svg);
  background-size: 34px 34px;
  bottom: 0;
  margin-left: 50px;
}
